
@{
    Layout = "MyLayout";
}

@model List<Pizza>
<div class=" container">
    <a class="btn btn-primary" href="@Url.Action("Create","Pizza")">Aggiungi nuova pizza</a>
    <div class="row">


        @foreach (Pizza elemento in Model)
        {
            <div class="col">

                <div class="card h-100">

                    <img style="aspect-ratio:4/3" src="@elemento.Img" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@elemento.Title</h5>


                        <a class="btn btn-warning btn-sm" href="@Url.Action("Details", "Pizza", new { id = elemento.Id })"> Details </a>

                        <a class="btn btn-warning btn-sm modifyBtn" href="@Url.Action("Update", "Pizza", new { id = elemento.Id })"> Modify </a>

                        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@elemento.Id" method="post">
                                        @Html.AntiForgeryToken()    
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                      </button>
                        </form>
                    </div>

                </div>

            </div>
                }





        </div>
</div>